/* CSS Document */
/* Colors */
/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
/* line 2, ../sass/neat/grid/_box-sizing.scss */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 7, ../sass/neat/grid/_box-sizing.scss */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/* General */
/* line 14, ../sass/style.scss */
a {
  text-decoration: none !important; }

/* line 17, ../sass/style.scss */
article {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto; }
  /* line 15, ../sass/bourbon/addons/_clearfix.scss */
  article:after {
    content: "";
    display: table;
    clear: both; }

/* line 20, ../sass/style.scss */
body {
  margin: 0px; }

/* line 24, ../sass/style.scss */
span {
  display: inline; }

/* line 27, ../sass/style.scss */
document
aside {
  margin-top: 20px;
  margin-bottom: 20px;
  float: left;
  display: block;
  margin-right: 1.69492%;
  width: 23.72881%; }
  /* line 85, ../sass/neat/grid/_span-columns.scss */
  document
  aside:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    /* line 27, ../sass/style.scss */
    document
    aside {
      float: left;
      display: block;
      margin-right: 1.69492%;
      width: 32.20339%; }
      /* line 85, ../sass/neat/grid/_span-columns.scss */
      document
      aside:last-child {
        margin-right: 0; } }

/* line 39, ../sass/style.scss */
.one_third {
  margin-top: 20px;
  margin-bottom: 20px;
  float: left;
  display: block;
  margin-right: 1.69492%;
  width: 32.20339%; }
  /* line 85, ../sass/neat/grid/_span-columns.scss */
  .one_third:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    /* line 39, ../sass/style.scss */
    .one_third {
      padding-left: 20px;
      padding-right: 20px;
      float: left;
      display: block;
      margin-right: 1.69492%;
      width: 32.20339%; }
      /* line 85, ../sass/neat/grid/_span-columns.scss */
      .one_third:last-child {
        margin-right: 0; } }

/* line 49, ../sass/style.scss */
.two_third {
  margin-top: 20px;
  margin-bottom: 20px;
  float: left;
  display: block;
  margin-right: 1.69492%;
  width: 66.10169%; }
  /* line 85, ../sass/neat/grid/_span-columns.scss */
  .two_third:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    /* line 49, ../sass/style.scss */
    .two_third {
      padding-left: 20px;
      padding-right: 20px;
      float: left;
      display: block;
      margin-right: 1.69492%;
      width: 32.20339%; }
      /* line 85, ../sass/neat/grid/_span-columns.scss */
      .two_third:last-child {
        margin-right: 0; } }

/* Mixins */
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-tn46nu");
  src: url("../fonts/icomoon.eot?#iefix-tn46nu") format("embedded-opentype"), url("../fonts/icomoon.woff?-tn46nu") format("woff"), url("../fonts/icomoon.ttf?-tn46nu") format("truetype"), url("../fonts/icomoon.svg?-tn46nu#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
/* line 15, ../sass/_fonts.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 29, ../sass/_fonts.scss */
.icon-message:before {
  content: "\f0e5"; }

/* line 33, ../sass/_fonts.scss */
.icon-user:before {
  content: "\e971"; }

/* line 37, ../sass/_fonts.scss */
.icon-mail:before {
  content: "\e601"; }

/* line 1, ../sass/_front-page.scss */
body {
  background: url("../art/background-splash.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-width: 75em;
  margin-left: auto;
  margin-right: auto; }
  /* line 8, ../sass/_front-page.scss */
  body .wrap {
    display: none;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    z-index: 100;
    position: fixed;
    top: 0px;
    left: 0px; }
  /* line 19, ../sass/_front-page.scss */
  body .logo {
    position: relative;
    margin-top: 10%;
    width: 100%;
    float: left;
    display: block;
    margin-right: 1.69492%;
    width: 49.15254%; }
    /* line 23, ../sass/_front-page.scss */
    body .logo h1, body .logo h2, body .logo p {
      font-family: 'PT Sans', sans-serif;
      color: white; }
    /* line 27, ../sass/_front-page.scss */
    body .logo h1 {
      font-weight: 700;
      font-size: 45px;
      position: absolute;
      left: 140px;
      top: 0px; }
      @media screen and (max-width: 480px) {
        /* line 27, ../sass/_front-page.scss */
        body .logo h1 {
          font-size: 30px; } }
    /* line 37, ../sass/_front-page.scss */
    body .logo h2 {
      font-weight: 400;
      font-size: 20px;
      position: absolute;
      left: 200px;
      top: 65px; }
      @media screen and (max-width: 480px) {
        /* line 37, ../sass/_front-page.scss */
        body .logo h2 {
          font-size: 15px;
          left: 170px;
          top: 50px; } }
    @media screen and (max-width: 480px) {
      /* line 49, ../sass/_front-page.scss */
      body .logo img {
        height: 100px;
        width: 100px;
        margin-left: 20px; } }
    /* line 85, ../sass/neat/grid/_span-columns.scss */
    body .logo:last-child {
      margin-right: 0; }
    @media screen and (max-width: 480px) {
      /* line 19, ../sass/_front-page.scss */
      body .logo {
        margin-top: 20px;
        float: left;
        display: block;
        margin-right: 1.69492%;
        width: 100%; }
        /* line 85, ../sass/neat/grid/_span-columns.scss */
        body .logo:last-child {
          margin-right: 0; } }
  /* line 63, ../sass/_front-page.scss */
  body .contact {
    margin-top: 12%;
    text-align: right;
    float: left;
    display: block;
    margin-right: 1.69492%;
    width: 49.15254%;
    margin-right: 0; }
    /* line 66, ../sass/_front-page.scss */
    body .contact p {
      font-family: 'PT Sans', sans-serif;
      color: white;
      font-size: 25px;
      margin: 5px; }
      @media screen and (max-width: 480px) {
        /* line 66, ../sass/_front-page.scss */
        body .contact p {
          font-size: 18px;
          margin-left: 10px; } }
    /* line 85, ../sass/neat/grid/_span-columns.scss */
    body .contact:last-child {
      margin-right: 0; }
    @media screen and (max-width: 480px) {
      /* line 63, ../sass/_front-page.scss */
      body .contact {
        text-align: center;
        float: left;
        display: block;
        margin-right: 1.69492%;
        width: 100%; }
        /* line 85, ../sass/neat/grid/_span-columns.scss */
        body .contact:last-child {
          margin-right: 0; } }
  /* line 84, ../sass/_front-page.scss */
  body .wrap-one {
    margin-top: 40px;
    text-align: right;
    float: left;
    display: block;
    margin-right: 1.69492%;
    width: 49.15254%; }
    @media screen and (max-width: 480px) {
      /* line 87, ../sass/_front-page.scss */
      body .wrap-one img {
        margin-left: 10px;
        width: 90%;
        height: auto; } }
    /* line 85, ../sass/neat/grid/_span-columns.scss */
    body .wrap-one:last-child {
      margin-right: 0; }
    @media screen and (max-width: 480px) {
      /* line 84, ../sass/_front-page.scss */
      body .wrap-one {
        float: left;
        display: block;
        margin-right: 1.69492%;
        width: 100%; }
        /* line 85, ../sass/neat/grid/_span-columns.scss */
        body .wrap-one:last-child {
          margin-right: 0; } }
  /* line 99, ../sass/_front-page.scss */
  body .wrap-two {
    margin-top: 40px;
    text-align: left;
    float: left;
    display: block;
    margin-right: 1.69492%;
    width: 49.15254%;
    margin-right: 0; }
    @media screen and (max-width: 480px) {
      /* line 102, ../sass/_front-page.scss */
      body .wrap-two img {
        margin-left: 10px;
        width: 90%;
        height: auto; } }
    /* line 85, ../sass/neat/grid/_span-columns.scss */
    body .wrap-two:last-child {
      margin-right: 0; }
    @media screen and (max-width: 480px) {
      /* line 99, ../sass/_front-page.scss */
      body .wrap-two {
        float: left;
        display: block;
        margin-right: 1.69492%;
        width: 100%; }
        /* line 85, ../sass/neat/grid/_span-columns.scss */
        body .wrap-two:last-child {
          margin-right: 0; } }
  /* line 116, ../sass/_front-page.scss */
  body nav {
    position: relative;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 20px;
    float: left;
    display: block;
    margin-right: 1.69492%;
    width: 100%; }
    /* line 121, ../sass/_front-page.scss */
    body nav button {
      font-family: 'PT Sans', sans-serif;
      color: white;
      font-size: 20px;
      font-weight: 700;
      background: transparent;
      border: 2px solid white;
      width: 175px;
      height: 50px; }
    /* line 85, ../sass/neat/grid/_span-columns.scss */
    body nav:last-child {
      margin-right: 0; }
  /* line 134, ../sass/_front-page.scss */
  body .popup {
    background: white;
    z-index: 200;
    display: none;
    position: absolute;
    left: 47%;
    top: 17%;
    margin-left: -202px;
    padding: 40px; }
    /* line 143, ../sass/_front-page.scss */
    body .popup button {
      border: 1px solid white;
      text-align: left;
      font-family: 'PT Sans', sans-serif;
      font-size: 25px;
      background-color: #262626;
      color: white;
      width: 60px;
      height: 60px;
      padding-top: 2px;
      padding-left: 20px;
      position: absolute;
      top: 10px;
      right: -30px;
      transition: background-color 0.3s ease; }
      /* line 158, ../sass/_front-page.scss */
      body .popup button:hover {
        background-color: #343568; }
      @media screen and (max-width: 480px) {
        /* line 143, ../sass/_front-page.scss */
        body .popup button {
          top: -25px;
          right: 0px; } }
    /* line 166, ../sass/_front-page.scss */
    body .popup span {
      color: #343568;
      border: 1px solid #343568;
      border-radius: 3px;
      font-size: 18px;
      padding: 5px;
      position: absolute;
      left: 65px;
      z-index: 300; }
      @media screen and (max-width: 480px) {
        /* line 166, ../sass/_front-page.scss */
        body .popup span {
          left: 35px; } }
    /* line 179, ../sass/_front-page.scss */
    body .popup .wpcf7-form-control-wrap {
      position: relative;
      border: 0px solid #343568;
      height: 0px; }
    /* line 184, ../sass/_front-page.scss */
    body .popup input, body .popup textarea {
      -webkit-box-shadow: 0px 0px 5px 0px rgba(52, 53, 104, 0.5);
      -moz-box-shadow: 0px 0px 5px 0px rgba(52, 53, 104, 0.5);
      box-shadow: 0px 0px 5px 0px rgba(52, 53, 104, 0.5);
      color: #343568;
      margin-top: 0px !important;
      border: 1px solid #343568;
      padding: 5px;
      width: 310px;
      margin: 5px 30px;
      height: 30px;
      font-family: 'PT Sans', sans-serif;
      font-color: #343568; }
      @media screen and (max-width: 480px) {
        /* line 184, ../sass/_front-page.scss */
        body .popup input, body .popup textarea {
          margin: 5px 20px;
          width: 230px; } }
    /* line 200, ../sass/_front-page.scss */
    body .popup input[type="submit"] {
      height: 40px;
      width: 380px;
      border: 2px solid #343568;
      border-radius: 0px;
      background-color: white;
      font-family: 'PT Sans', sans-serif;
      font-size: 20px;
      font-weight: 700;
      color: #343568;
      transition: background-color 0.3s ease; }
      /* line 211, ../sass/_front-page.scss */
      body .popup input[type="submit"]:hover {
        background-color: #343568;
        color: white; }
      @media screen and (max-width: 480px) {
        /* line 200, ../sass/_front-page.scss */
        body .popup input[type="submit"] {
          width: 100%;
          margin: 0px; } }
    /* line 220, ../sass/_front-page.scss */
    body .popup textarea {
      height: 120px; }
    /* line 223, ../sass/_front-page.scss */
    body .popup h3 {
      text-align: center;
      margin-top: 0px;
      padding: 20px;
      background: #343568;
      font-family: 'PT Sans', sans-serif;
      font-size: 30px;
      color: white; }
      /* line 231, ../sass/_front-page.scss */
      body .popup h3:after {
        content: '';
        position: relative;
        right: -141px;
        bottom: -21px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 20px 20px 0;
        border-color: transparent #1d1f3e transparent transparent;
        clear: both;
        z-index: -100; }
        @media screen and (max-width: 480px) {
          /* line 231, ../sass/_front-page.scss */
          body .popup h3:after {
            right: -83px; } }
      @media screen and (max-width: 480px) {
        /* line 223, ../sass/_front-page.scss */
        body .popup h3 {
          width: 100%;
          padding: 20px 0px; } }
    @media screen and (max-width: 480px) {
      /* line 134, ../sass/_front-page.scss */
      body .popup {
        width: 100%;
        margin: 0px;
        left: 0px;
        padding: 10px;
        top: 50%; } }
  /* line 15, ../sass/bourbon/addons/_clearfix.scss */
  body:after {
    content: "";
    display: table;
    clear: both; }

/*# sourceMappingURL=style.css.map */
